@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,500;1,400&family=Open+Sans:ital,wght@0,400;0,800;1,400&display=swap');

body {
    margin: 0;
    background-color: #c2dfe5;
}

.logo img {
    display: inline-flex;
    width: 12%; 
}
.topnav {
    background-color: #086788;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding-bottom: 1em;
}
  
.topnav li {
    float: left;
}

/* Style the links inside the navigation bar */
.topnav a {
    display: block;
    color: #f2f4f3;
    text-align: center;
    padding: 1px 16px;
    text-decoration: none;
    font-family: 'Exo';
    font-size: 1.3em;
}
  
/* Change the color of links on hover */
.topnav a:hover {
    color:#f0c808
}
  
/* Add a color to the active/current link */
.topnav a.active {
    color:#f0c808
}

.second-div {
    text-align: center;
    background-color: #f2f4f3;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: 1em;
    padding: 2em;
}

.second-div h1 {
    margin: 0;
    padding-bottom: 0;
    font-family: 'Open sans';
    font-weight: normal;
    color: #000000;
}

.second-div p {
    padding: 0;
    font-family: 'Exo';
    color: #dd1c1a;
}

footer {
    margin-top: 5em;
    font-family: 'Exo';
    font-size: .75em;
    text-align: center;
}